body {
     background-color: #1C1C1C; 
}

#main {
    text-align: center;
}

#pedido-box {
    display: inline-block;
}

#pedir-musica {
    width: 100%;
}

.panel-title p {
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    font-size: 35px;
}

.ocultar {
    position: absolute;
    left: -9999px;
}

.space-box {
    width: 100%;
    height: 80px;
}


/* botao-box */

#player-box {
    text-align: center;
}

.space-box-play {
    width: 100%;
    height: 80px;
}

#botao-box {
    display: inline-block;
}

#btn-play {
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: block;
    background: #202020 url(../img/play-md.png) no-repeat center;
    text-indent: -9999px;
    -webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
    outline: none;
}

/* botao-box */


/* Media queries */

@media (max-width: 767px) {
    
    #btn-play {
        width: 90px;
        height: 90px;
    }    
    #btn-play.parado {
        background: #202020 url(../img/play-hover-sm.png) no-repeat center;
    }
    #btn-play.tocando {
        background: #202020 url(../img/pause-sm.png) no-repeat center;
		box-shadow: 1px 1px 50px #8B0000;
    }
}

@media (min-width: 768px) {
    
    #btn-play {
        width: 108px;
        height: 108px;
    }
    #btn-play.parado {
        background: #202020 url(../img/play-hover-md.png) no-repeat center;
    }
    #btn-play.parado:hover {
		box-shadow: 1px 1px 50px #8B0000;
    }
    #btn-play.tocando {
        background: #202020 url(../img/pause-md.png) no-repeat center;
		box-shadow: 1px 1px 50px #8B0000;
    }
    #btn-play.tocando:hover {
		box-shadow: 1px 1px 20px #8B0000;
    }
}

@media (min-width: 1600px) {
    
	#btn-play {
        width: 150px;
        height: 150px;
    }
    #btn-play.parado {
        background: #202020 url(../img/play-hover-lg.png) no-repeat center;
    }
    #btn-play.parado:hover {
		box-shadow: 1px 1px 50px #8B0000;
    }
    #btn-play.tocando {
        background: #202020 url(../img/pause-lg.png) no-repeat center;
		box-shadow: 1px 1px 50px #8B0000;
    }
    #btn-play.tocando:hover {
		box-shadow: 1px 1px 20px #8B0000;
    }
}

/* Media queries */














